<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        .container{
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row " style="margin-top: 10px">
                <ul>
                    {% for foo in index_list %}
                        <li>{{ foo }}：这是列表内容~~</li>
                    {% endfor %}
                </ul>
                <nav aria-label="Page navigation" class="pull-right">
                    <ul class="pagination">
                        {{ html|safe }}
                    </ul>
                </nav>
        </div>
    </div>
</body>
</html>
